---
import MovieSearchInput from "../components/SearchInput";
import Layout from "../layouts/Layout.astro";
import { url } from "../lib/utils";
---

<Layout title="Movio | Home" fixedNavbar>
	<section class="bg-gradient-to-t from-black h-screen flex items-center z-[1]">
		<img
			src={url("/showcase_bg.png")}
			alt="showcase background"
			class="absolute top-0 left-0 w-full h-full object-cover z-[-1]"
		/>
		<div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16 lg:px-12">
			<h1
				class="mb-4 text-5xl font-extrabold tracking-tight leading-none lg:text-6xl xl:text-7xl text-white"
			>
				You will never get bored again
			</h1>
			<p class="mb-8 text-xs font-normal lg:text-xl sm:px-16 xl:px-48 text-gray-400">
				You can find the best movie recommendations based on millions of users,
				including Movies, TV Shows and more.
			</p>
			<div>
				<MovieSearchInput client:visible />
			</div>
		</div>
	</section>
</Layout>
